:root {
  --orange: #fd9940;
  --darkorange: #dd7d25;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --gray: #e9f5f9;
  --white: #fff;
  --thumb: #edf2f4;
  --black: #1d1d1d;
  --dark-1: #2d2d2d;
  --dark-2: #4d4d4d;
  --dark-3: #6d6d6d;
  --gray-1: #8d8d8d;
  --gray-2: #adadad;
  --gray-3: #cdcdcd;
  --gray-4: #e0e0e0;
  --light-1: #efefef;
  --light-2: #f5f5f5cf;
  --light-3: #fafafa;
  --white: #ffffff;
   /* Primary */
   --var-soft-blue: hsl(215, 51%, 70%);
   --var-cyan: hsl(178, 100%, 50%);
   /* Neutral */
   --var-main-darkest: hsl(217, 54%, 11%);
   --var-card-dark: hsl(216, 50%, 16%);
   --var-line-dark: hsl(215, 32%, 27%);
   --var-lightest: white;
   
   /* Fonts */
   
   --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
   
   --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
   
   --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}


body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  user-select:none;
}

html {
  height: -webkit-fill-available;
}

main {
  /* height: 100vh; */
  height: -webkit-fill-available;
  max-height: 100vh;
}

img{
  width: 100%;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

.custom-bg-1 {
  background-color: #286ee0 !important;
}
.welcome-message {
  background-color: #eff0f1; /* Light background for the message */
  border-left: 5px solid #007bff; /* A blue accent border */
  color: #333; /* Dark text for readability */
}

.greeting-header {
  font-family: "Arial", sans-serif;
  font-size: 24px; /* Larger font size for the header */
  color: #007bff; /* Theme color for the header */
  margin-bottom: 15px;
}

.greeting-text {
  font-family: "Arial", sans-serif;
  font-size: 16px; /* Comfortable reading size for the text */
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
   
    border-radius: 5px;
    margin: 0 0 30px;
  }

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }

  input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

form.search {
    border: none;
    padding: 0;
}

input.search {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

.chat-interface{
  width: 100%;
}

  
/* ---card styles--- */
.card-container{
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}


.cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card:hover {
  color: var(--white);
  background: var(--orange);
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--orange);
  /* padding: 6px 12px; */
  border-radius: 8px;
  transition: background 0.2s;
}

.card-img img{
  height: 100px;
  width: 100px;
}

.card:hover .card-link {
  background: var(--darkorange);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkorange);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cards::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

@media (min-width: 500px) {
  .cards {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .cards {
    grid-auto-columns: calc(16% - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-auto-columns: calc(10% - 20px);
    grid-column-gap: 40px;
  }
}

.folder-container{
  display: flex;
  flex-wrap: wrap;
}

.folder-card{
  margin: 8px;
  width: 220px;
  height: 50px;
  display: flex;  
  align-items: center;
  background-color: var(--gray);
  border-radius: 10px;
}

.folder-icon{
  margin-left: 10px;
}

.folder-name{
  width: 140px;
  margin-left: 20px;
}

.folder-name span{
  font-size: 16px;
  font-weight: 500;
}

.folder-menu{
  display: flex;
  width: 60px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 30px;
}

.folder-menu:hover{
  background-color: #d3ebf2;
  border-radius: 50%;
}

.recent-header{
  display: flex;
  justify-content: space-between;
}

.recent-sort-menu{
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
  border: 1px solid;
  border-radius: 30px;
}

.vl {
  border-left: 1px solid;
  height: 31px;
}

.recent-grid-icon{
  width: 50px;
  display: flex;
  justify-content: center;
}

.recent-grid-icon i{
  cursor: pointer;
}
.recent-list-icon{
  width: 50px;
  display: flex;
  justify-content: center;
}

.recent-list-icon i{
  cursor: pointer;
}

.active-icon-list{
  height: 31px;
  display: flex;
  align-items: center;
  background-color: #286ee0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid #286ee0;
}

.active-icon-grid{
  height: 31px;
  display: flex;
  align-items: center;
  background-color: #286ee0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid #286ee0;
}

.list-view.hide{
  display: none;
}

.grid-view.hide{
  display: none;
}

.grid-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid-card{
  width: 230px;
  height: 250px;
  background-color: var(--light-1);
  border-radius: 10px;
  margin: 7px;
}

.grid-card-header{
  display: flex;
  padding: 15px ;
}



.file-icon{
  margin-left: 10px;
}

.file-name{
  width: 140px;
  margin-left: 10px;
}

.file-name span{
  font-size: 16px;
  font-weight: 500;
}

.file-menu{
  display: flex;
  width: 60px;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.file-menu:hover{
  background-color: #d3ebf2;
  border-radius: 50%;
}


.grid-card-body{
  padding: 0px 15px 0px 15px;
}

.grid-card-body img{
  width: 100%;
  height: 180px;
}